#context-menu {
    position: absolute;
    z-index: 1100;
    background: #c0c0c0;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-family: 'Win95', Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: black;
    display: none;
	user-select:none;
}

#context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 1px 0;
    font-weight: lighter;
	user-select:none;
}

#context-menu li {
    padding: 4px 20px;
    cursor: pointer;
    font-weight: lighter;
	user-select:none;
}

#context-menu li:hover {
    background-color: #000080;
    color: white;
	user-select:none;
    font-weight: lighter;
}

.context-separator {
    height: 1px;
    margin: 2px 0;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #ffffff;
}

#context-new {
    position: absolute;
    z-index: 1100;
	top:50%;
    background: #c0c0c0;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-family: 'Win95', Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: black;
    display: none;
	user-select:none;
}

#context-new ul {
    list-style-type: none;
    margin: 0;
    padding: 1px 0;
    font-weight: lighter;
	user-select:none;
}

#context-new li {
    padding: 4px 20px;
    cursor: pointer;
    font-weight: lighter;
	user-select:none;
}
#context-new li:hover {
    background-color: #000080;
    color: white;
    font-weight: lighter;
	user-select:none;
}

#context-RBAND {
    position: absolute;
    z-index: 1100;
	top:50%;
    background: #c0c0c0;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-family: 'Win95', Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: black;
    display: none;
	user-select:none;
}

#context-RBAND ul {
    list-style-type: none;
    margin: 0;
    padding: 1px 0;
    font-weight: lighter;
	user-select:none;
}

#context-RBAND li {
    padding: 4px 20px;
    cursor: pointer;
    font-weight: lighter;
	user-select:none;
}

#context-RBAND li:hover {
    background-color: #000080;
    color: white;
    font-weight: lighter;
	user-select:none;
}